@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;


.button {
  display: flex;
  gap: 20px;
  background-color: transparent;
  color: v.$mariner;
  border: 1px solid v.$mariner;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  align-items: center;
  padding-left: 20px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.3s ease-in-out;
}

.button__marker {
  position: relative;
  display: flex;
  width: 34px;
  height: 34px;
  background-color: v.$mariner;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.small-button {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: v.$mariner;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.button__marker::after,
.small-button::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-view");
  mask-position: center;
  mask-repeat: no-repeat;
}

.button:hover {
  background-color: v.$mariner;
  color: v.$nero;
}

.button:hover .button__marker,
.button:active .button__marker {
  background-color: v.$nero;
}

.button:hover .button__marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-arrow-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.button:active {
  background-color: v.$mariner;
  color: v.$nero70;
}

.button:active .button__marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-arrow-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.button:focus .button__marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.small-button:hover {
  background-color: v.$nero;
}

.small-button:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-arrow-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.small-button:active::after {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.small-button:focus::after {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
