@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.card {
  position: relative;
  display: flex;
}

.card__img {
  border-radius: 12px;

}
.card__wrapper {
  position: absolute;
  display: grid;
  justify-items: start;
  bottom: 0;
  left: 0;
  color: v.$mariner;
  border-radius: 12px;
  z-index: 2;
}

.card__date {
  background-color: v.$nero;
  padding: 12px 12px 6px 0;
  border-top-right-radius: 12px;
}

.card__title {
  background-color: v.$nero;
  border-top-right-radius: 12px;
  padding: 10px 18px 4px 0;
  margin: 0;
}

.card__text-wrapper {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: v.$nero;
  border-top-right-radius: 12px;
  padding: 12px 10px 10px 0;
  margin: 0;
}

.card__text-wrapper p {
  font-size: 12px;
  line-height: 14px;
  color: v.$tundora;
}
