@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.form {
  padding-top: 40px;
  padding-bottom: 40px;

  @include m.tablet {
    width: 768px;
    padding: 50px 58px;
    margin: 0 auto;
  }

  @include m.desktop {
    width: 1440px;
    padding: 60px 100px;
  }
}

.form__container {
  width: 100vw;
  background-image: url('../../img/form/form-bg.png');
  background-size: cover;
  padding: 43px 10px 40px 10px;

  @include m.tablet {
    width: 652px;
    min-height: 780px;
    background-image: url('../../img/form/form-bg-tab.png');
    border-radius: 16px;
    padding: 0;
  }

  @include m.desktop {
    width: 1240px;
    background-image: url('../../img/form/form-bg-desk.png');
  }
}

.form__wrapper {
  display: block;
  width: 300px;
  border-radius: 16px;
  background-color: v.$mariner;
  padding: 15px;
  margin: 0 auto;

  @include m.tablet {
    width: 442px;
    margin: 0;
    margin-right: auto;
    padding: 42px 40px 36px 40px;
  }

  @include m.desktop {
    width: 490px;
    padding: 44px 70px 40px 70px;
  }
}

.form__title {
  color: v.$nero;
  margin-bottom: 10px;
  text-align: left;
  @include m.desktop {
    margin-bottom: 34px;
  }
}

.form__text {
  color: v.$beige;
  text-align: left;
}

.form__label {
  color: v.$beige80;
}

.form__input {
  background-color: transparent;
  border: 1px solid v.$nero30;
  color: v.$beige;
}

.form__agree {
  color: v.$nero;
}

.form__agree-marker {
  position: absolute;
  left: 0;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: v.$nero;
}


.form__select {
  color: v.$beige80;
}

.form__select--closed .form__select-list {
  display: none;
}


.form__select--closed::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  right: 31px;
  bottom: 43%;
  transform: translateY(50%);
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-down-view");
  mask-position: center;
  mask-repeat: no-repeat;
}

.form__select--opened::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  right: 31px;
  bottom: 32%;
  transform: translateY(50%);
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-down-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(180deg);
}

.form__select--opened .form__select-list {
  display: flex;
}

.form__select-list {
  border: 1px solid v.$nero;
}

.form__button {
  width: 260px;
  gap: 30px;
  justify-content: space-between;
  color: v.$nero;
  border-color: v.$nero;
  padding-left: 74px;
  margin-bottom: 12px;

  @include m.tablet {
    width: 352px;
    margin-bottom: 0;
    margin-top: 23px;
    padding-left: 108px;
    align-self: center;
  }
}

.form__button-marker {
  background-color: v.$nero;
}

.form__button-marker::after {
  background-color: v.$mariner;
}
