@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;


.header {
  @include m.container;
  position: absolute;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  top: 20px;
  z-index: 10;
}

.header__logo {
  margin-top: 1px;
}
