@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.hero__slider {
  @include m.list-reset;
}

.hero .swiper-slide {
  display: flex;
  align-items: flex-end;
}

.hero__slide {
  @include m.container;
  min-height: 568px;
  padding-top: 100px;
  padding-bottom: 20px;

  @include m.tablet {
    min-height: 1024px;
  }

  @include m.desktop {
    min-height: 800px;
  }
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.hero__wrapper {
  @include m.container;
  display: grid;
  padding: 0;
}

.hero__title-wrapper {
  position: relative;
  background-color: v.$nero;
  padding: 20px 15px 16px 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;

    &::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    bottom: -9px;
    right: 14px;
    background-color: v.$nero;
    mask-image: url("/__spritemap#sprite-corner-view");
    mask-repeat: no-repeat;
    mask-position: center;
    transform: rotate(90deg);
  }
}

.hero__text-button-wrapper {
  display: grid;
  gap: 15px;
  width: 267px;
  background-color: v.$nero;
  padding: 0 14px 10px 14px;
  border-bottom-left-radius: 14px;
  --nb-r: 14px;
  --nb-w: 55px;
  --nb-h: 36px;
}

.hero__button-wrapper {
  padding-top: 10px;
}

.hero__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: v.$mariner;
  margin: 0;
}

.hero__slide p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.hero__button {
  justify-self: flex-start;
}

.hero__pagination {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-self: flex-start;
  gap: 12px;
  background-color: v.$nero;
  padding: 10px 16px;
  z-index: 10;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    bottom: -1px;
    right: -9px;
    background-color: v.$nero;
    mask-image: url("/__spritemap#sprite-corner-view");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.hero__bullet {
  width: 8px;
  height: 8px;
  border: 2px solid v.$mariner;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.hero__bullet--active {
  width: 8px;
  height: 8px;
  border: 2px solid v.$st-tropaz;
  border-radius: 100%;
  background-color: v.$st-tropaz;
}
