@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.nav {
  z-index: 10;
}

.nav__button {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: v.$nero;

  @include m.tablet {
    gap: 20px;
    padding-left: 20px;
  }

  @include m.desktop {
    padding-left: 31px;
    gap: 30px;
  }

}

.nav__button-marker {
  width: 46px;
  height: 46px;
}

.nav--closed .nav__button:hover .nav__button-marker::after,
.nav--closed .nav__button:active .nav__button-marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-menu-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: rotate(180deg);
}

.nav--closed .nav__button-marker::after,
.nav--closed .nav__button:focus .nav__button-marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-menu-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: none;
}

.nav--opened {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include m.tablet {
    left: unset;
    right: 45px;
    transform: none;
  }

  @include m.desktop {
    right: 100px;
  }
}

.nav--opened .nav__button-marker {
  background-color: v.$nero;
}

.nav--closed .nav__button {
  width: auto;
  transition: all 0.3s ease;
}

.nav--opened .nav__button {
  width: 290px;
  margin: 0 auto;
  background-color: v.$mariner;
  color: v.$nero;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.nav--opened .nav__button-marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-cross-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 0.3s ease;
}

.nav--opened .nav__button:hover .nav__button-marker::after,
.nav--opened .nav__button:active .nav__button-marker::after,
.nav--opened .nav__button:focus .nav__button-marker::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: v.$mariner;
  mask-image: url("/__spritemap#sprite-cross-view");
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.nav__list {
  @include m.list-reset;
  position: absolute;
  display: none;
  padding: 35px 25px;
  background-color: v.$mariner;
  color: v.$nero;
  border-radius: 16px;
  margin-top: 4px;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.nav--opened .nav__list {
  display: grid
}

.nav__sublist {
  @include m.list-reset;
  display: grid;
  gap: 16px;
  padding-left: 16px;
  font-weight: 400;
  text-transform: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.nav__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 28px;
}

.nav__item.drop-down-list {
  display: grid;
}

.nav__link {
  display: flex;
  gap: 10px;
}

.drop-down-list--opened .nav__sublist {
  margin-top: 20px;
}

.drop-down-list--opened .drop-down-marker {
  display: block;
  width: 12px;
  height: 12px;
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-down-view");
  mask-repeat: no-repeat;
  transform: rotate(180deg);
  opacity: 1;
}

.drop-down-list--closed .drop-down-marker {
  display: block;
  width: 12px;
  height: 12px;
  background-color: v.$nero;
  mask-image: url("/__spritemap#sprite-arrow-down-view");
  mask-repeat: no-repeat;
  opacity: 0.6;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__subitem {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  opacity: 0.6;
}

.nav__item:hover,
.nav__item:active,
.nav__subitem:hover,
.nav__subitem:focus {
  opacity: 1;
}

.nav__item:hover .nav__sublist,
.nav__item:active .nav__sublist {
  opacity: 0.6;
}

.nav__item:hover .drop-down-marker,
.nav__item:active .drop-down-marker {
  opacity: 1;
}
