@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.programs {

  padding-top: 50px;
  padding-bottom: 50px;

  @include m.desktop {
    padding-top: 62px;
  }
}

.programs .swiper {
  @include m.container;
  position: relative;
  padding-top: 5px;

  @include m.tablet {
    padding-top: 3px;
    padding-bottom: 10px;
      overflow: visible;
  }

  @include m.desktop {
    padding-bottom: 20px;
  }
}

.programs .swiper-slide {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.programs .swiper-wrapper {
  padding: 0;
  margin: 0;

  @include m.desktop {
    overflow: hidden;
  }
}

.programs__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: 1;
}

.programs__title {
  margin-bottom: 35px;

  @include m.tablet {
    margin-bottom: 43px;
  }

  @include m.desktop {
    margin-bottom: 45px;
  }
}

.programs__item {
  position: relative;
  min-height: 400px;
  border-radius: 12px;
  padding: 18px 10px;

  @include m.tablet {
    min-height: 420px;
    padding: 10px 20px;
  }
}

.programs__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: v.$mariner20;
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: 2;
}

.programs__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
  --nb-r: 12px;
  --nb-w: 100px;
  --nb-h: 18px;

  @include m.tablet {
    --nb-w: 86px;
    --nb-h: 13px;
  }

  @include m.desktop {
    width: 91%;
    bottom: 7px;
    --nb-w: 102px;
    --nb-h: 17px;
  }
}

.programs__wrapper h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: v.$mariner;
  margin: 0;

  @include m.tablet {
    font-size: 20px;
    line-height: 14px;
  }

  @include m.desktop {
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__wrapper p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;

  @include m.tablet {
    width: 94%;
    font-size: 14px;
    line-height: 20px;
  }


  @include m.desktop {
    width: 100%;
    line-height: 18px;
  }
}

.programs__button {
  justify-self: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 31px;
  margin-top: 30px;
  gap: 30px;

  @include m.tablet {
    position: absolute;
    top: -30px;
    right: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include m.desktop {
    right: 100px;
  }
}

.programs__title-wrapper {
  padding: 18px;
  padding-bottom: 6px;
  background-color: v.$nero;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  @include m.desktop {
    padding-bottom: 14px;
  }
}

.programs__text-button-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
  align-items: center;
  padding: 12px 18px 15px 18px;
  background-color: v.$nero;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;


  @include m.desktop {
    gap: 15px;
    min-height: 74px;
    padding-top: 5px;
  }
}

.programs__toggles {
  position: absolute;
  top: -2px;
  right: 0;

  @include m.tablet {
    top: unset;
    bottom: 0;
    right: 46px;
  }

  @include m.desktop {
    bottom: 10px;
    right: 100px;
  }
}

.programs__scrollbar {
  display: none;

  @include m.tablet {
    display: block;
    width: 562px;
    pointer-events: all;
    margin-top: 50px;
    height: 2px;
    background-color: v.$mariner20;
  }

  @include m.desktop {
    width: 1136px;
  }

}

.programs__scrollbar .swiper-scrollbar-drag {
  width: 326px;
  height: 2px;
  background-color: v.$mariner;
}
