@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.reviews {
  padding-top: 55px;
  padding-bottom: 50px;

  @include m.tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include m.desktop {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}

.reviews .swiper {
  @include m.container;

  position: relative;
  display: grid;

  @include m.tablet {
    padding-bottom: 10px;
  }
}

.reviews__title {
  margin-bottom: 34.5px;

  @include m.tablet {
    margin-bottom: 40px;
  }

  @include m.desktop {
    margin-left: 3px;
    margin-bottom: 45px;
  }
}

.reviews .swiper-wrapper {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.reviews .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid v.$mariner;
  border-radius: 16px;
  padding: 29px 16px 30px 15px;

  @include m.tablet {
    gap: 30px;
    padding: 50px;
  }

  @include m.desktop {
    padding: 50px 48px 50px 50px;
  }
}

.reviews__toggles {
  position: absolute;
  top: -2px;
  right: 15px;

  @include m.tablet {
    top: unset;
    right: 46px;
    bottom: 0;
  }

  @include m.desktop {
    right: 100px;
    bottom: 0;
  }
}

.reviews__scrollbar {
  display: none;

  @include m.tablet {
    display: block;
    width: 562px;
    pointer-events: all;
    margin-top: 50px;
    height: 2px;
    background-color: v.$mariner20;
  }

  @include m.desktop {
    width: 1136px;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  width: 326px;
  height: 2px;
  background-color: v.$mariner;
}

.reviews__wrapper {
  display: grid;
  gap: 15px;

  @include m.tablet {
    grid-template-columns: 1fr max-content;
    gap: 65px;
  }
}

.reviews__user {
  display: flex;
  gap: 10px;

  @include m.tablet {
    gap: 15px;
  }
}

.reviews__img {
  border-radius: 30px;
  margin-left: -0.5px;
  margin-top: 1.5px;

  @include m.tablet {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin: 0;
  }
}

.reviews__name {
  font-size: 14px;
  line-height: 18px;
  color: v.$mariner;
  margin: 0;
  align-self: center;

  @include m.tablet {
    font-size: 20px;
    line-height: 24px;
  }

  @include m.desktop {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__info {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 25px;
  row-gap: 8px;
  margin: 0;
  padding: 0;

  @include m.tablet {
    column-gap: 27px;
    row-gap: 11px;
    grid-column: 2/-1;
    align-self: center;
  }

  @include m.desktop {
    row-gap: 10px;
  }
}

.reviews__info-title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: v.$mariner;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
}

.reviews__info-text {
  font-size: 12px;
  line-height: 117%;
  color: v.$tundora;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  grid-row: 2/3;

  @include m.tablet {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__text {
  display: grid;
  gap: 20px;

  @include m.tablet {
    grid-column: 1/-1;
    gap: 25px;
  }
}

.reviews__text .reviews__quote {
  font-size: 16px;
  line-height: 18px;
  color: v.$mariner;
  margin: 0;

  @include m.tablet {
    font-size: 20px;
    line-height: 24px;
  }

  @include m.desktop {
    font-size: 24px;
    line-height: 26px;
  }
}

.reviews__text p {
  font-size: 14px;
  line-height: 20px;
  color: v.$tundora;
  margin: 0;

  @include m.tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include m.desktop {
    font-size: 16px;
    line-height: 26px;
  }
}
