$mariner: rgba(49, 109, 194, 1);
$mariner20: rgba(49, 109, 194, 0.2);
$st-tropaz: rgba(39, 86, 153, 1);
$nero: rgba(255, 255, 255, 1);
$nero30: rgba(255, 255, 255, 0.3);
$nero70: rgba(255, 255, 255, 0.7);
$tundora: rgba(72, 72, 72, 1);
$beige: rgba(240, 239, 233, 1);
$beige80: rgba(240, 239, 233, 0.8);
$overlay: rgba(13, 29, 51, 0.4);
$disabled: rgba(169, 175,183,1);


$tablet-width: 768px;
$desktop-width: 1440px;
